
.container {
    display: flex;
    height: 600px;
    width: 900px;
}
.image {
     height: 600px;
     width: 350px;
}

.form{
     height: 600px;
     width: 550px;
     justify-content: space-around;
}
.main {
    height:38px;
    width: 410px;
    margin-left: 20px;
    margin-top: 20px;
}
.sign-up{
    margin-left: 20px;
}
p{
    margin-left: 20px;
}
div{
    margin-left: 20px;
}
.details {
    height: 200px;
    width:500px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-size: 12px;
    border-color: #e5e7eb;
    
}
input:valid {border-color: #e5e7eb;}
input:invalid{border-color: red;}
input:focus{outline:2px solid blue;}



.left {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
}
.right {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
}
.log-in{
    color: white;
    background-color: #596d48;
    margin-left: 20px;
}
span{
    color: #596d48;
}


